﻿
@model IEnumerable<Cinema>
<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">Add Movie</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input class="form-control" name="Name">
                </div>
                <div class="mb-3">
                    <label for="Type" class="form-label">Type</label>
                    <select name="Type" class="form-select" placeholder="Select Type">
                        @foreach (var type in Enum.GetValues(typeof(MovieType)))
                        {
                            <option value="@type">@type</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Actros</label>
                    <select name="actrosid" class="form-select" multiple>
                        @foreach (var actor in ViewBag.actros)
                        {

                            <option value="@actor.Id">@actor.FullName</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input class="form-control" name="Price">
                </div>
                <div class="mb-3">
                    <label for="Date_Time" class="form-label">Date Time</label>
                    <input class="form-control" type="datetime-local" name="Date_Time">
                </div>
                <div class="mb-3">
                    <label for="MainImg" class="form-label">Main Image</label>
                    <input class="form-control" type="file" name="mainimg">
                </div>
                <div class="mb-3">
                    <label for="subimgs" class="form-label">Sub Images</label>
                    <input type="file" class="form-control" name="subImgs" multiple>
                </div>
                <div class="mb-3">
                    <label for="TrailerUrl" class="form-label">Name</label>
                    <input class="form-control" name="TrailerUrl">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a description here" style="height: 100px" name="Description"></textarea>
                        <label for="description">You Description Here...</label>
                    </div>
                </div>
                    <div class="mb-3">
                        <label for="Cinema" class="form-label">Cinema</label>
                        <select name="CinemaId" class="form-select" placeholder="Select Cinema">
                            @foreach (var cinema in Model)
                            {
                                <option value="@cinema.Id">@cinema.Name</option>
                            }
                        </select>
                    </div>
                   <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>



