@model IEnumerable<Movie>


<div class="col-xxl-10 ">
    <div class="card mb-3">
        <div class="card-header position-relative">
            <h5 class="mb-0 mt-1">All Movies</h5>
            <div class="bg-holder d-none d-md-block bg-card" style="background-image:url(../../../assets/img/illustrations/corner-6.png);">
            </div>
            <!--/.bg-holder-->

        </div>
        <div class="card-body pt-0 pt-md-3">
            <div class="row g-3 align-items-center">
                <div class="col-auto d-xl-none">
                    <button class="btn btn-sm p-0 btn-link position-relative" type="button" data-bs-toggle="offcanvas" data-bs-target="#filterOffcanvas" aria-controls="filterOffcanvas"><span class="fas fa-filter fs-9 text-700"></span></button>
                </div>
                <div class="col">
                    <form class="position-relative">
                        <input class="form-control form-control-sm search-input lh-1 rounded-2 ps-4" type="search" placeholder="Search..." aria-label="Search" />
                        <div class="position-absolute top-50 start-0 translate-middle-y ms-2"><span class="fas fa-search text-400 fs-10"></span></div>
                    </form>
                </div>
                <div class="col position-sm-relative position-absolute top-0 end-0 me-3 me-sm-0 p-0">
                    <div class="row g-0 g-md-3 justify-content-end">
                        <div class="col-auto">
                            <form class="row gx-2">
                                <div class="col-auto d-none d-lg-block"><small class="fw-semi-bold">Sort by:</small></div>
                                <div class="col-auto">
                                    <select class="form-select form-select-sm" aria-label="Bulk actions">
                                        <option value="rating">Rating</option>
                                        <option value="review">Review</option>
                                        <option value="price">Price</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="col-auto">
                            <div class="d-flex align-items-center">
                                <small class="fw-semi-bold d-none d-lg-block lh-1">View:</small>
                                <div class="d-flex"><a class="btn btn-link btn-sm text-700" href="../../../app/e-learning/course/course-grid.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Course Grid"><span class="fas fa-th fs-8" data-fa-transform="down-1"></span></a><a class="btn btn-link btn-sm px-1 text-400 hover-700" href="../../../app/e-learning/course/course-list.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Course List"><span class="fas fa-list-ul fs-8" data-fa-transform="down-1"></span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3 g-3">
        @foreach (var movie in Model)
        {
            <article class="col-md-6 col-xxl-4">
                <div class="card h-100 overflow-hidden" style="transform: scale(0.95);">
                    <div class="card-body p-0 d-flex flex-column justify-content-between">
                        <div>
                            <div class="hoverbox text-center">
                                <a class="text-decoration-none" href="@movie.TrailerUrl" data-gallery="attachment-bg"><img class="w-100 h-100 object-fit-cover" src="~/MovieImg/@movie.MainImg" alt="" /></a>
                                <div class="hoverbox-content flex-center pe-none bg-holder overlay overlay-2"><img class="z-1" src="../../../assets/img/icons/play.svg" width="60" alt="" /></div>
                            </div>
                            <div class="p-3">
                                <h5 class="fs-9 mb-2"><a class="text-1100" href="../../../app/e-learning/course/course-details.html">Script Writing Masterclass: Introdution to Industry Cliches</a></h5>
                                <h5 class="fs-9"><a href="../../../app/e-learning/trainer-profile.html">Bill Finger</a></h5>
                            </div>
                        </div>
                        <div class="row g-0 mb-3 align-items-end">
                            <div class="col ps-3">
                                <h4 class="fs-8 text-warning d-flex align-items-center">
                                    <span>$@movie.Price</span>
                                    <del class="ms-2 fs-10 text-700">$139.90</del>
                                </h4>
                                <p class="mb-0 fs-10 text-800">92,632 Learners Enrolled</p>
                            </div>
                            <div class="col-auto pe-3">
                                <a class="btn btn-sm btn-falcon-default me-2 hover-danger" href="/Customer/Cart/AddToCart?movieId=@movie.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to Wishlist"><span class="far fa-heart" data-fa-transform="down-2"></span></a>
                                <a class="btn btn-sm btn-falcon-default hover-primary" href="#!" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to Cart"><span class="fas fa-cart-plus" data-fa-transform="down-2"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        }
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row g-3 flex-center justify-content-md-between">
                <div class="col-auto">
                    <form class="row gx-2">
                        <div class="col-auto"><small>Show:</small></div>
                        <div class="col-auto">
                            <select class="form-select form-select-sm" aria-label="Show courses">
                                <option selected="selected" value="@ViewBag.countItem">@ViewBag.countItem</option>
                                <option value="6"><a href="/Admin/Home/Index?countItem=6">6</a></option>
                                <option value="8"><a href="/Admin/Home/Index?countItem=8">8</a></option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-auto">
                    <nav aria-label="Page navigation example" style="justify-content: center;display: flex;">
                        <ul class="pagination">
                            @if (@ViewBag.currentPage > 1)
                            {
                                <li class="page-item"><a class="page-link" href="?page=@(ViewBag.currentPage - 1)">Previous</a></li>
                            }
                            @for (var i = 1; i <= ViewBag.totalPages; i++)
                            {
                                <li class="page-item @(ViewBag.currentPage == i ? "active" : "")"><a class="page-link" href="?page=@i">@i</a></li>
                            }
                            @if (@ViewBag.currentPage < ViewBag.totalPages)
                            {
                                <li class="page-item"><a class="page-link" href="?page=@(ViewBag.currentPage + 1)">Next</a></li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_NotificationPartial">
}
