@model Actor

<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">Add Actor</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input class="form-control" name="FullName" value="@Model.FullName">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input class="form-control" type="file" name="img" value="@Model.Img" onchange="previewImage(event)">
                </div>
                <div class="mb-3">
                    <img id="preview"
                         src="~/ActorImage/@Model.Img"
                         alt="Current Image"
                         style="max-width: 200px; border:1px solid #ccc; padding:5px; border-radius:10px;" />
                </div>
                <div class="mb-3">
                    <label for="movie" class="form-label">Movie</label>
                    <select name="movieId" class="form-select" placeholder="Select Movie">
                        @foreach (var movie in ViewBag.AllMovie)
                        {
                            if (movie.Id == ViewBag.MovieActotId.MovieId)
                            {
                                
                                <option value="@movie.Id" selected>@movie.Name</option>
                            }
                            else
                            {
                                <option value="@movie.Id">@movie.Name</option>
                            }
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<script>
    function previewImage(event) {
        const input = event.target;
        const preview = document.getElementById("preview");

        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function(e) {
                preview.src = e.target.result; // الصورة الجديدة
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
